<div class="container-fluid">
    <div class="row">
        <div class="navbar navbar-default" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <img src="" alt="">Add your new Event
                </a>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #bad3fc">
        <div class="col-md-3"><br>
            <p>Name Event</p>
        </div>
        <div class="col-md-7"><br>
            <p><input type="text" class="form-control" placeholder="Enter your event" [(ngModel)]="nama_event"></p>
        </div>
        <div class="col-md-3">
            <p>Event Date</p>
        </div>
        <div class="col-md-7">
            <p><input type="text" class="form-control" placeholder="Enter your event date" [(ngModel)]="date_event"></p>
        </div>
        <div class="col-md-3">
            <p>Event Location</p>
        </div>
        <div class="col-md-7">
            <p><input type="text" class="form-control" placeholder="Enter your event location" [(ngModel)]="event_place"></p>
        </div>
        <div class="col-md-3">
            <p>Price Ticket</p>
        </div>
        <div class="col-md-7">
            <p><input type="text" class="form-control" placeholder="Enter your event price ticket" [(ngModel)]="harga_tiket"></p>
        </div>
        <div class="col-md-3">
            <p>Stock Ticket</p>
        </div>
        <div class="col-md-7">
            <p><input type="text" class="form-control" placeholder="Enter your stock ticket event" [(ngModel)]="stock_tiket"></p>
        </div>
        <div class="col-md-2 col-md-offset-9">
            <button class="btn btn-primary pull-right" (click)="addData()">Add new Event</button>
            <br><br>
        </div>
    </div>
</div>