<div class="container-fluid"><br>
    <div class="row">
        <div class="navbar navbar-default" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <img src="" alt="">List of Event
                </a>
            </div>
        </div>
    </div>
    <div class="row"><br>
        <table class="table col-md-offset-1">
            <th>Nama Event</th>
            <th>Event Location</th>
            <th>Event date</th>
            <th>Ticket Price</th>
            <th>Ticket Status</th>
            <tr *ngFor="let x of array">

                <td>{{ x.nama_event }}</td>
                <td>{{ x.event_place }}</td>
                <td>{{ x.date_event }}</td>
                <td>{{ x.harga_tiket }}</td>
                <td>
                    <button class="btn btn-primary" style="background-color: #f25d43; color: white" (click)="removeUser(x.id)">Buy Ticket</button>
                </td>

            </tr>
        </table>
    </div>
</div>